.collapsible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    padding: 2vh;
    background-color: var(--light);
    cursor: pointer;
    user-select: none;
}

.collapsible h1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}

.collapsible h1::after {
    content: "↓↑";
    position: absolute;
    right: 1.5vw;
    font-size: 1.3rem;
    padding-top: .3rem;
}

.collapsible > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
}

.collapsible a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color);
    font-size: 1.3rem;
}

.collapsible a:hover {
    transform: scale(115%);
    transition: transform 1s;
}

.collapsible.small {
    margin: 2vh;
    padding: 10px;
    border: 1px dashed rgba(21,21,21,.3);
}

.collapsible.small h1 {
    font-size: 1rem;
    white-space: break-spaces;
    color: var(--s-light);
}
    
.collapsible.small h1::after {
    font-size: .8rem;
    padding-top: 0;
}
