nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: calc(var(--nav-height) / 6);
    background-color: var(--dark);
}

nav h1 {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    padding-top: .4rem;
}

nav img {
    width: calc(var(--nav-height) - calc(2 * calc(var(--nav-height) / 4)));
    height: calc(var(--nav-height) - calc(2 * calc(var(--nav-height) / 4)));
}

nav button {
    font-size: 1rem;
}
