form.login {
    --field-width: 60vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-1);
}

form.login label {
    font-size: 2rem;
    text-align: center;
}

form.login input,
form.login button {
    width: var(--field-width);
    border-radius: 2rem;
    padding: .8rem;
    font-size: 1rem;
    padding: .8rem;
    outline: none;
    text-align: center;
}

form.login label,
form.login button {
    margin-top: 3rem;
    width: var(--field-width);
}

form.login > input {
    border: 2px solid var(--btn-color);
    text-align: center;
    font-weight: bold;
    margin: 0;
}

form.login input:focus,
form.login button:focus {
    border-bottom: solid 5px var(--secondary);
}

#logo {
    margin: 5vh;
    height: 20vh;
    width: 20vh;
    fill: var(--btn-color);
}

.error {
    font-weight: bold;
    color: rgb(209, 105, 105);
    font-size: 1.1rem;
}

@media screen and (min-width: 600px) {
    form.login {
        --field-width: 20vw;
    }
}